Repository fylein/fyle-eslint-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "**/*.test.js": ["npm test -- --findRelatedTests"]
}

WIP
  packages/core/src/rules/i18n-key-naming-convention.js
  packages/core/src/tests/i18n-key-naming-convention.test.js
  packages/docs/rules/i18n-key-naming-convention.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: add nonUserFacingPattern option to no-hardcoded-strings rule
  CONTRIBUTING.md
  packages/core/src/rules/no-hardcoded-strings.js
  packages/core/src/tests/no-hardcoded-strings.test.js
  packages/docs/rules/no-hardcoded-strings.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: upgrade to Node.js 22
  .github/workflows/ci.yml
  package.json
Due: prettier --write

docs: update Node.js version references to 22
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
Due: prettier --write

WIP
  .github/workflows/ci.yml
  package.json
  packages/core/package.json
  packages/core/src/index.js
Due: eslint --fix, prettier --write

WIP
  package.json
Due: prettier --write

export default
  packages/core/src/index.js
Due: eslint --fix, prettier --write

feat: fix monorepo package exports and imports
  .gitignore
  .prettierrc.js
Due: eslint --fix, prettier --write

docs: fix import statements in documentation
  README.md
  packages/docs/README.md
  packages/docs/rules/i18n-key-naming-convention.md
  packages/docs/rules/no-hardcoded-strings.md
Due: prettier --write

initial commit (#1)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.js
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  babel.config.json
  eslint.config.js
  package-lock.json
  package.json
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/i18n-key-naming-convention.js
  packages/core/src/rules/no-hardcoded-strings.js
  packages/core/src/tests/i18n-key-naming-convention.test.js
  packages/core/src/tests/no-hardcoded-strings.test.js
  packages/docs/README.md
  packages/docs/rules/i18n-key-naming-convention.md
  packages/docs/rules/no-hardcoded-strings.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: prepare for repository rename to fyle-eslint-plugin
  .github/workflows/ci.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  package.json
  packages/core/package.json
  packages/docs/README.md
Due: prettier --write

minor
  README.md
  package-lock.json
  package.json
  packages/core/package.json
  packages/docs/README.md
  packages/docs/rules/i18n-key-naming-convention.md
  packages/docs/rules/no-hardcoded-strings.md
Due: prettier --write

minor
  package-lock.json
  packages/core/package.json
Due: prettier --write

rename package to @fyle/eslint-plugin
  package-lock.json
  packages/core/package.json
Due: prettier --write

gemini suggestions
  packages/core/src/index.js
Due: eslint --fix, prettier --write

feat: Add license and rename repo name (#2)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/docs/README.md
  packages/docs/rules/i18n-key-naming-convention.md
  packages/docs/rules/no-hardcoded-strings.md
Due: eslint --fix, prettier --write

fix: eliminate ReDoS vulnerabilities in ESLint rule
  packages/core/src/rules/no-hardcoded-strings.js
  packages/core/src/tests/no-hardcoded-strings.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: eliminate ReDoS vulnerabilities in ESLint rule (#3)
  packages/core/src/rules/no-hardcoded-strings.js
  packages/core/src/tests/no-hardcoded-strings.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: bump version to 1.0.1 for ReDoS security fixes
  package-lock.json
  package.json
  packages/core/package.json
Due: prettier --write

chore: bump version to 1.0.1 for ReDoS security fixes (#4)
  package-lock.json
  package.json
  packages/core/package.json
Due: prettier --write

feat: add multiple prefixes support and page files with number format string filtering
  packages/core/src/rules/i18n-key-naming-convention.js
  packages/core/src/tests/i18n-key-naming-convention.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

refactor: rename filePrefixes to stripFilePrefixes for clarity
  packages/core/src/rules/i18n-key-naming-convention.js
  packages/core/src/tests/i18n-key-naming-convention.test.js
  packages/docs/rules/i18n-key-naming-convention.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: bump version to 1.0.2 for patch release (clarity refactor)
  package-lock.json
  package.json
  packages/core/package.json
Due: prettier --write

handle util as well
  packages/core/src/rules/i18n-key-naming-convention.js
Due: eslint --fix, prettier --write

updated read me
  README.md
  packages/docs/README.md
Due: prettier --write

fix failing tests
  packages/core/src/tests/i18n-key-naming-convention.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: add multiple prefixes support and page files with number format string filtering (#5)
  README.md
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/rules/i18n-key-naming-convention.js
  packages/core/src/tests/i18n-key-naming-convention.test.js
  packages/docs/README.md
  packages/docs/rules/i18n-key-naming-convention.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: upgrade angular/common and angular/core for vulns fix
  package-lock.json
  packages/core/package.json
Due: prettier --write

chore: upgrade angular/common and angular/core for vulns fix (#9)
  package-lock.json
  packages/core/package.json
Due: prettier --write

no Angular currency pipe
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/rules/no-angular-currency-pipe.js
  packages/core/src/tests/no-angular-currency-pipe.test.js
  packages/docs/rules/no-angular-currency-pipe.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

no inline date formats
  packages/core/src/rules/no-inline-date-format.js
  packages/core/src/tests/no-inline-date-format.test.js
  packages/docs/rules/no-inline-date-format.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

no mutate format tokens
  packages/core/src/rules/no-mutate-format-tokens.js
Due: eslint --fix, prettier --write

no mutate token docs
  packages/core/src/index.js
  packages/core/src/tests/no-mutate-format-tokens.test.js
  packages/docs/rules/no-mutate-format-tokens.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

add new rule
  eslint.config.js
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/no-datepipe-transform-format-arg.js
  packages/core/src/tests/fixtures/datepipe-transform-invalid.ts
  packages/core/src/tests/fixtures/datepipe-transform-valid.ts
  packages/core/src/tests/fixtures/other-transform-valid.ts
  packages/core/src/tests/fixtures/tsconfig.json
  packages/core/src/tests/no-datepipe-transform-format-arg.test.js
  packages/docs/rules/no-datepipe-transform-format-arg.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

minor
  packages/core/src/rules/no-inline-date-format.js
Due: eslint --fix, prettier --write

minor
  packages/core/src/tests/no-angular-currency-pipe.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

minor
  packages/core/src/index.js
  packages/core/src/tests/no-mutate-format-tokens.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

comment fizes
  packages/core/src/rules/no-datepipe-transform-format-arg.js
Due: eslint --fix, prettier --write

feat: rule to restrict datapipe.transform with additional args (#16)
  eslint.config.js
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/no-datepipe-transform-format-arg.js
  packages/core/src/tests/fixtures/datepipe-transform-invalid.ts
  packages/core/src/tests/fixtures/datepipe-transform-valid.ts
  packages/core/src/tests/fixtures/other-transform-valid.ts
  packages/core/src/tests/fixtures/tsconfig.json
  packages/core/src/tests/no-datepipe-transform-format-arg.test.js
  packages/docs/rules/no-datepipe-transform-format-arg.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests
