Repository fylein/fyle-eslint-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "**/*.test.js": ["npm test -- --findRelatedTests"]
}

feat: docs and tests for no mutate format tokens (#15)
  eslint.config.js
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/no-datepipe-transform-format-arg.js
  packages/core/src/tests/fixtures/datepipe-transform-invalid.ts
  packages/core/src/tests/fixtures/datepipe-transform-valid.ts
  packages/core/src/tests/fixtures/other-transform-valid.ts
  packages/core/src/tests/fixtures/tsconfig.json
  packages/core/src/tests/no-datepipe-transform-format-arg.test.js
  packages/core/src/tests/no-mutate-format-tokens.test.js
  packages/docs/rules/no-datepipe-transform-format-arg.md
  packages/docs/rules/no-mutate-format-tokens.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: linting rules for display formats (#14)
  eslint.config.js
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/no-angular-currency-pipe.js
  packages/core/src/rules/no-datepipe-transform-format-arg.js
  packages/core/src/rules/no-inline-date-format.js
  packages/core/src/rules/no-mutate-format-tokens.js
  packages/core/src/tests/fixtures/datepipe-transform-invalid.ts
  packages/core/src/tests/fixtures/datepipe-transform-valid.ts
  packages/core/src/tests/fixtures/other-transform-valid.ts
  packages/core/src/tests/fixtures/tsconfig.json
  packages/core/src/tests/no-angular-currency-pipe.test.js
  packages/core/src/tests/no-datepipe-transform-format-arg.test.js
  packages/core/src/tests/no-inline-date-format.test.js
  packages/core/src/tests/no-mutate-format-tokens.test.js
  packages/docs/rules/no-angular-currency-pipe.md
  packages/docs/rules/no-datepipe-transform-format-arg.md
  packages/docs/rules/no-inline-date-format.md
  packages/docs/rules/no-mutate-format-tokens.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

bump version
  package-lock.json
  package.json
  packages/core/package.json
Due: prettier --write

use import instead of require
  packages/core/src/tests/no-inline-date-format.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

renaming
  packages/core/src/index.js
  packages/core/src/rules/no-mutate-date-currency-format-tokens.js
  packages/core/src/tests/no-mutate-date-currency-format-tokens.test.js
  packages/docs/rules/no-mutate-date-currency-format-tokens.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

renaming
  packages/core/src/index.js
  packages/core/src/rules/no-date-currency-mutation.js
  packages/core/src/tests/no-date-currency-mutation.test.js
  packages/docs/rules/no-date-currency-mutation.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: rename rule for date/currency tokens (#20)
  packages/core/src/index.js
  packages/core/src/rules/no-date-currency-mutation.js
  packages/core/src/tests/no-date-currency-mutation.test.js
  packages/core/src/tests/no-inline-date-format.test.js
  packages/docs/rules/no-date-currency-mutation.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: bump version after format preferences linting rules (#19)
  package-lock.json
  package.json
  packages/core/package.json
Due: prettier --write

fix: CVE-2026-27970
  package-lock.json
  package.json
Due: prettier --write

fix: CVE-2026-27970 (#22)
  package-lock.json
  package.json
Due: prettier --write

upgrade to Angular 21
  package-lock.json
  package.json
  packages/core/package.json
Due: prettier --write

initial commit
  packages/core/src/index.js
  packages/core/src/rules/no-clickable-div.js
  packages/core/src/tests/no-clickable-div.test.js
  packages/docs/rules/no-clickable-div.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

add code owners
  .github/CODEOWNERS
Due: none

add code owners (#26)
  .github/CODEOWNERS
Due: none

migrate to pnpm
  .github/workflows/ci.yml
  .github/workflows/validate-pnpm-config.yml
  .gitignore
  .lintstagedrc.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

add eslint/js package
  package.json
  pnpm-lock.yaml
Due: prettier --write

migrate to pnpm (#27)
  .github/workflows/ci.yml
  .github/workflows/validate-pnpm-config.yml
  .gitignore
  .lintstagedrc.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: CVE-2026-33671 CVE-2026-33672 CVE-2026-33532
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: CVE-2026-33671 CVE-2026-33672 CVE-2026-33532 (#28)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(ci): add PR dependency checklist workflow
  .github/workflows/pr-dependency-checklist.yml
Due: none

chore(ci): add PR dependency checklist workflow (#29)
  .github/workflows/pr-dependency-checklist.yml
Due: none

upgrade @babel/preset-env to latest
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

add new rule
  packages/core/src/index.js
  packages/core/src/rules/require-test-assignee-comment.js
  packages/core/src/tests/require-test-assignee-comment.test.js
  packages/docs/rules/require-test-assignee-comment.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

add rule
  packages/core/src/index.js
  packages/core/src/rules/require-date-day-two-digits.js
  packages/core/src/tests/require-date-day-two-digits.test.js
  packages/docs/rules/require-date-day-two-digits.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

upgrade @babel/preset-env to latest: CVE-2026-44728 (#30)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: CVE-2026-45149
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: CVE-2026-45149 (#33)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: dependabot fixes
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: dependabot fixes (#36)
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: brace expansion dos
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: brace expansion dos (#37)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: enforce fixture-backed e2e setup
  packages/core/src/index.js
  packages/core/src/rules/enforce-fixture-setup.js
  packages/core/src/tests/enforce-fixture-setup.test.js
  packages/core/src/tests/fixtures/fixture-setup/with-fixture/fixture.yml
  packages/core/src/tests/fixtures/fixture-setup/without-fixture/README.md
  packages/docs/README.md
  packages/docs/rules/enforce-fixture-setup.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat(core): add signal component ngOnChanges rule
  packages/core/src/index.js
  packages/core/src/rules/no-ng-on-changes-in-signal-based-component.js
  packages/core/src/tests/no-ng-on-changes-in-signal-based-component.test.js
  packages/core/src/utils/create-forbidden-component-lifecycle-rule.js
  packages/docs/README.md
  packages/docs/rules/no-ng-on-changes-in-signal-based-component.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

docs(core): clarify signal-based component scope
  packages/core/src/rules/no-ng-on-changes-in-signal-based-component.js
  packages/docs/README.md
  packages/docs/rules/no-ng-on-changes-in-signal-based-component.md
Due: eslint --fix, prettier --write

feat(core): prohibit checked hooks in OnPush components
  packages/core/src/index.js
  packages/core/src/rules/no-checked-lifecycle-hooks-in-onpush-component.js
  packages/core/src/tests/no-checked-lifecycle-hooks-in-onpush-component.test.js
  packages/docs/README.md
  packages/docs/rules/no-checked-lifecycle-hooks-in-onpush-component.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat(core): restrict markForCheck to CVAs
  packages/core/src/index.js
  packages/core/src/rules/no-mark-for-check-outside-control-value-accessor.js
  packages/core/src/tests/no-mark-for-check-outside-control-value-accessor.test.js
  packages/docs/README.md
  packages/docs/rules/no-mark-for-check-outside-control-value-accessor.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix(core): align lifecycle rule docs URL
  packages/core/src/utils/create-forbidden-component-lifecycle-rule.js
Due: eslint --fix, prettier --write

fix(core): align markForCheck rule docs URL
  packages/core/src/rules/no-mark-for-check-outside-control-value-accessor.js
Due: eslint --fix, prettier --write

feat(core): add signal component ngOnChanges rule (#40)
  packages/core/src/index.js
  packages/core/src/rules/no-ng-on-changes-in-signal-based-component.js
  packages/core/src/tests/no-ng-on-changes-in-signal-based-component.test.js
  packages/core/src/utils/create-forbidden-component-lifecycle-rule.js
  packages/docs/README.md
  packages/docs/rules/no-ng-on-changes-in-signal-based-component.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

test(core): cover optional markForCheck calls
  packages/core/src/tests/no-mark-for-check-outside-control-value-accessor.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests
