Repository fylein/fyle-eslint-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "**/*.test.js": ["npm test -- --findRelatedTests"]
}

feat(core): prohibit checked hooks in OnPush components (#41)
  packages/core/src/index.js
  packages/core/src/rules/no-checked-lifecycle-hooks-in-onpush-component.js
  packages/core/src/tests/no-checked-lifecycle-hooks-in-onpush-component.test.js
  packages/docs/README.md
  packages/docs/rules/no-checked-lifecycle-hooks-in-onpush-component.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat(core): restrict markForCheck to CVAs (#42)
  packages/core/src/index.js
  packages/core/src/rules/no-mark-for-check-outside-control-value-accessor.js
  packages/core/src/tests/no-mark-for-check-outside-control-value-accessor.test.js
  packages/docs/README.md
  packages/docs/rules/no-mark-for-check-outside-control-value-accessor.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: bump version to 1.1.0
  package.json
  packages/core/package.json
Due: prettier --write

wip
  packages/core/src/index.js
  packages/core/src/rules/api-contract-naming.js
  packages/core/src/tests/api-contract-naming.test.js
  packages/docs/README.md
  packages/docs/rules/api-contract-naming.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore(deps): remediate security alerts
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(deps): remediate security alerts (#44)
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat: update model interface conventions
  packages/core/src/index.js
  packages/core/src/rules/model-interface-conventions.js
  packages/core/src/tests/api-contract-naming.test.js
  packages/core/src/tests/model-interface-conventions.test.js
  packages/docs/README.md
  packages/docs/rules/api-contract-naming.md
  packages/docs/rules/model-interface-conventions.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: enforce model and interface declaration types
  packages/core/src/rules/model-interface-conventions.js
  packages/core/src/tests/model-interface-conventions.test.js
  packages/docs/rules/model-interface-conventions.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: update model interface conventions (#45)
  packages/core/src/index.js
  packages/core/src/rules/model-interface-conventions.js
  packages/core/src/tests/model-interface-conventions.test.js
  packages/docs/README.md
  packages/docs/rules/model-interface-conventions.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: bump version to 1.2.0
  package.json
  packages/core/package.json
Due: prettier --write

chore: bump version to 1.2.0 (#46)
  package.json
  packages/core/package.json
Due: prettier --write

feat: add app-v2 model and artifact rules
  packages/core/src/index.js
  packages/core/src/rules/model-file-export-convention.js
  packages/core/src/rules/model-interface-conventions.js
  packages/core/src/rules/no-type-declarations-in-artifacts.js
  packages/core/src/tests/model-file-export-convention.test.js
  packages/core/src/tests/model-interface-conventions.test.js
  packages/core/src/tests/no-type-declarations-in-artifacts.test.js
  packages/docs/README.md
  packages/docs/rules/model-file-export-convention.md
  packages/docs/rules/model-interface-conventions.md
  packages/docs/rules/no-type-declarations-in-artifacts.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: bump version to 1.2.1
  package.json
  packages/core/package.json
Due: prettier --write

feat: enforce model and interface file conventions
  packages/core/src/index.js
  packages/core/src/rules/interface-file-export-convention.js
  packages/core/src/tests/interface-file-export-convention.test.js
  packages/core/src/tests/model-file-export-convention.test.js
  packages/docs/README.md
  packages/docs/rules/interface-file-export-convention.md
  packages/docs/rules/model-file-export-convention.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

docs: remove app-v2 references
  packages/docs/rules/interface-file-export-convention.md
  packages/docs/rules/model-file-export-convention.md
Due: prettier --write

feat: require UI prefix for derived models
  packages/core/src/rules/model-file-export-convention.js
  packages/core/src/tests/model-file-export-convention.test.js
  packages/docs/rules/model-file-export-convention.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

Feat: custom eslint rule to enforce models/interface (#47)
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/interface-file-export-convention.js
  packages/core/src/rules/model-file-export-convention.js
  packages/core/src/rules/model-interface-conventions.js
  packages/core/src/rules/no-type-declarations-in-artifacts.js
  packages/core/src/tests/interface-file-export-convention.test.js
  packages/core/src/tests/model-file-export-convention.test.js
  packages/core/src/tests/model-interface-conventions.test.js
  packages/core/src/tests/no-type-declarations-in-artifacts.test.js
  packages/docs/README.md
  packages/docs/rules/interface-file-export-convention.md
  packages/docs/rules/model-file-export-convention.md
  packages/docs/rules/model-interface-conventions.md
  packages/docs/rules/no-type-declarations-in-artifacts.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: report extra model exports individually
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-export-convention.js
  packages/core/src/tests/model-file-export-convention.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: report extra exports during traversal
  packages/core/src/rules/model-file-export-convention.js
  packages/core/src/tests/model-file-export-convention.test.js
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: add enum and model location rules
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/model-file-location.js
  packages/core/src/rules/no-enums.js
  packages/core/src/tests/model-file-location.test.js
  packages/core/src/tests/no-enums.test.js
  packages/docs/README.md
  packages/docs/rules/model-file-location.md
  packages/docs/rules/no-enums.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

Fix: model export count diff (#48)
  package.json
  packages/core/package.json
  packages/core/src/index.js
  packages/core/src/rules/model-file-export-convention.js
  packages/core/src/rules/model-file-location.js
  packages/core/src/rules/no-enums.js
  packages/core/src/tests/model-file-export-convention.test.js
  packages/core/src/tests/model-file-location.test.js
  packages/core/src/tests/no-enums.test.js
  packages/docs/README.md
  packages/docs/rules/model-file-location.md
  packages/docs/rules/no-enums.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: enforce model folder filenames
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-location.js
  packages/core/src/tests/model-file-location.test.js
  packages/docs/rules/model-file-location.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: enforce model folder filenames (#49)
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-location.js
  packages/core/src/tests/model-file-location.test.js
  packages/docs/rules/model-file-location.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: support legacy minimatch exports
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-location.js
Due: eslint --fix, prettier --write

fix: require exact model skip files
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-location.js
  packages/core/src/tests/model-file-location.test.js
  packages/docs/rules/model-file-location.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: match model skip files by name
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-location.js
  packages/core/src/tests/model-file-location.test.js
  packages/docs/rules/model-file-location.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

Fix: model rules diff (#50)
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-location.js
  packages/core/src/tests/model-file-location.test.js
  packages/docs/rules/model-file-location.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: include minimatch for git installs
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: include minimatch for git installs (#51)
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: restrict model skip filenames
  package.json
  packages/core/package.json
  packages/core/src/rules/model-file-location.js
  packages/core/src/tests/model-file-location.test.js
  packages/docs/rules/model-file-location.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: resolve sprintf-js and brace-expansion alerts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: resolve sprintf-js and brace-expansion alerts (#53)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
